{
  "root": true,
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "globals": {
    "BigInt": true
  },
  "env": {
    "es6": true,
    "node": true,
    "jest": true
  },
  "ignorePatterns": ["*.spec.js"],
  "extends": "airbnb-base",
  "rules": {
    "import/prefer-default-export": "off",
    "no-plusplus": "off",
    "no-continue": "off"
  }
}
